.banner {
  display: flex;
  align-items: center;
  height: 750px;

  background-image: image-set(
    url('./../../img/beast/beast-bg.jpg') 1x,
    url('./../../img/beast/beast-bg@2x.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  --angle: 10%;
  clip-path: polygon(0 var(--angle),  100% 0, 100% calc(100% - var(--angle)), 0 100%);
}

.banner__title {
  margin-bottom: 10px;
  font-family: var(--font-accent);
  font-size: clamp(2.5rem, 1.705rem + 3.98vw, 4.688rem);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;

}

.banner__desc {
  margin-bottom: 30px;
  font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.375rem);
  line-height: 1.5;
  color: #fff;
}

.banner__desc p + p {
  margin-top: 1.5em;
}

/* Responsive */

@media (max-width: 600px) {
  .banner {
    height: auto;
    padding: 100px 0;
  }
}