.card-programs__image {
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0  rgba(0, 0, 0, 0.2);
}

.card-programs__caption {
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: clamp(1.5rem, 1.068rem + 2.16vw, 2.688rem);
  letter-spacing: 0.07em;
  color: var(--accent-color);
}

/* Responsive */

@media (max-width: 380px) {
  .card-programs__caption {
    text-align: center;
  }
}