.footer {
  padding: 70px 0;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.footer__contacts {
  display: flex;
  gap: 50px;
  font-size: 0.875rem;
  line-height: 2;
}

/* Responsive */

@media (max-width: 600px) {
  .footer {
  padding: 50px 0;
  }

.footer__socials {
  gap: 30px;
  }

.footer__contacts {
  flex-direction: column;
  gap: 20px;
  }
}