.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

.form-label {
  display: block;
  font-weight: 700;
  color: #fff;
}

.form-input,
.form-textarea {
  resize: vertical;
  display: block;
  width: 100%;
  padding: 5px 0 9.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 200;
}

.form-textarea {
  height: 167px;
  line-height: 1.5;

  &:focus {
    outline: none;
  }
}

.form .button {
  align-self: flex-start;
}
