:root {
  --accent-color: #ffda79;

  --bg-color: #1f2a32;

  --font-base: "Roboto", sans-serif;
  --font-accent: "Bebas Neue", sans-serif;
}

body {
  font-family: var(--font-base);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #fafaf5;
}

a {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--narrow {
  max-width: 615px;
}

.button {
  display: inline-block;
  padding: 18px clamp(0.938rem, 0.256rem + 3.41vw, 2.813rem) 15px;
  border-radius: 7px;
  background-color: var(--accent-color);
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.375rem);
  font-weight: 600;
  letter-spacing: 0.26em;
  line-height: 1;
  color: #000;
  transition: background-color 0.2s ease-in;

  &:hover, &:active {
    background-color: #fcc54e;
  }
}

/* Responsive */

@media (max-width: 768px) {
  .button {
    letter-spacing: 0.16em;
  }
}