/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Common */
header,
main,
footer,
nav,
aside,
section {
	display: block;
}

h1, h2, h3, h4, h5, h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Links */
a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

/* Forms */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input[type='file'] {
  max-width: 100%;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}