#taso1kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso2kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso2väri {
    color: #0F0F0F;
}
#taso3kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso5kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso6kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso7kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso8kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
#taso9kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}
/* #tehtävä9teksti {
    color: #0F0F0F;
    background-color: #d0bdf4;
    transition: color 1s linear 1s, background-color 1.5s linear 2s;
} */
#taso10kuva {
    width: 800px;
    height: 500px;
    align-self: center;
}